package nats

import (
	"log/slog"

	"github.com/nats-io/nats.go"
	"{{.ModulePath}}/internal/config"
)

type Client struct {
	conn *nats.Conn
	log  *slog.Logger
}

func NewClient(cfg *config.Config, log *slog.Logger) (*Client, error) {
	url := cfg.BrokerURL
	if url == "" {
		url = nats.DefaultURL
	}

	nc, err := nats.Connect(url)
	if err != nil {
		return nil, err
	}

	log.Info("connected to NATS", "url", url)

	return &Client{
		conn: nc,
		log:  log,
	}, nil
}

func (c *Client) Conn() *nats.Conn {
	return c.conn
}

func (c *Client) Close() error {
	c.log.Info("closing NATS connection")
	c.conn.Close()
	return nil
}
