package graph

import (
	"{{.ModulePath}}/{{.Arch.Service}}"
)

// This file will not be regenerated automatically by gqlgen.
// It serves as dependency injection for your app, add any dependencies you require here.

type Resolver struct{
	Svc *service.Service
}
